.tooltip {
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  padding: 8px;
  border-radius: 5px;
  pointer-events: none;
  font-size: 12px;
}
