@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-height: 100vh; /* Ensure the body covers the entire viewport height */
}

@media screen and (min-width: 1024px) {
  
}

.sc-csmVar.jHPNep.rdt_TableCol_Sortable {
  overflow: visible;
}

.sc-dmBjiZ.hNBumD {
  overflow: visible;
}

.sc-csmVar.beICJd.rdt_TableCol_Sortable {
  overflow: visible;
}

.tooltip {
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  padding: 8px;
  border-radius: 5px;
  pointer-events: none;
  font-size: 12px;
}
